body {
    background-image: linear-gradient(94.3deg, rgba(26, 33, 64, 1) 10.9%, rgba(81, 84, 115, 1) 87.1%);
    background: #161623;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

body::before {
    z-index: -1;
    content: '';
    position: fixed;
    width: 48vh;
    height: 48vh;
    background: linear-gradient(#ffc107, #e91e63);
    border-radius: 50%;
    transform: translate(-30vh, -12vh);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
    animation: pulse 1.5s infinite;
}

body::after {
    z-index: -1;
    content: '';
    position: fixed;
    width: 42vh;
    height: 42vh;
    background: linear-gradient(#2196f3, #31ff38);
    border-radius: 50%;
    transform: translate(30vh, 18vh);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
    animation: pulse 1.6s infinite;
}

@keyframes pulse {
    50% {
        box-shadow: 0 0 0 50px rgba(255, 255, 255, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

.aero-box {
    margin: 10px;
    box-sizing: border-box;
    position: relative;
    min-width: 350px;
    min-height: 400px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    z-index: 10;
    padding: 20px;
    backdrop-filter: blur(25px);
    transition: box-shadow .2s ease-in-out;
}
.aero-box:hover{
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.2);
}
.aero-box h1 {
    margin: 0;
    padding: 0;
    font-size: 2em;
    box-sizing: border-box;
    color: #fff;
    margin-bottom: 20px;
    transition: letter-spacing .4s ease-in;
}
.aero-box h1:hover{
    letter-spacing: 2px;
}

.aero-box .aero-rank {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
    right: -50px;
    color: #03a9f4;
    transition: 0.5s;
    font-size: 2em;
}

.aero-box .aero-rank small {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 500;
    opacity: 0.25;
}

.aero-box .aero-rank {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    right: 20px;
}

.aero-box pre code.hljs{
    border-radius: 4px;
}
.aero-box pre{
    transition: box-shadow .2s ease-in-out;
}
.aero-box pre:hover{
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
}
.aero-box a{
    text-decoration:none;
    position: relative;
}
.aero-box a::before {
    content: " ";
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    backface-visibility: hidden;
    transform: scaleX(0);
    transform-origin: right;
    background: #258fb8;
    transition: transform .5s cubic-bezier(0.93, 0.07, 0.17, 1);
}  
.aero-box a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}